default/data
default/logs
los_santos_horizon.base/cache
los_santos_horizon.base/db
los_santos_horizon.base/.replxx_history
los_santos_horizon.base/server.cfg.bkp
los_santos_horizon.base/resources/\[qb]/qb-doorlock/saves/doorstates.json
