.main-container * {
    margin: 0;
    padding: 0;
    font-family: 'Akrobat';
    user-select: none;
    -webkit-user-drag: none;
}

.main-container a {
    text-decoration: none;
    color: #000;
}

body {
    overflow: hidden;
    position: absolute;
    width: 100vw;
    height: 100vh;
    /*
    background: url('../assets/png/preview-image.png'); 
    background-size: cover; 
    */
}

.main-container ::-webkit-scrollbar {
    display: none;
    margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}